.helpCentre_header_container1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
.helpCentre_header_container2 {
  height: 72px;
  backdrop-filter: blur(25px) saturate(140%);
  background: rgb(0, 0, 0, 0.85);
  position: sticky;
  top: 0;
  padding-top: 0;
  z-index: 2;
}
.helpCentre_header_container3 {
  padding-right: 120px;
  padding-left: 60px;
  margin: auto;
  height: inherit;
}
.helpCentre_header_container4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.helpCentre_header_left {
  display: flex;
  color: #fff;
  font-size: 32px;
}
.helpCentre_header_logo {
  height: 1em;
  width: 1em;
  display: none;
  fill: currentcolor;
  cursor: pointer;
}
#helpCentre_header_text {
  display: none;
  padding-left: 10px;
  font-size: 22px;
  font-weight: 500;
}
#helpCentre_header_button {
  display: inline-block;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  border-radius: 8px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 24px;
  padding-right: 24px;
  color: #fff;
  background: linear-gradient(to right, #e61e4d 0%, #e31c5f 50%, #d70466 100%);
  text-transform: none;
  width: 100%;
}

#helpCentre_container {
  height: 100vh;
}
.helpCentre_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
#helpCentre_left_heading {
  color: #fff;
  padding: 0;
  margin-bottom: 0px;
  font-weight: 500;
  margin-top: 0;
  font-size: 1.7rem;
}
#helpCentre_left_text {
  color: #fff;
  padding: 0;
  margin-top: 15px;
  font-size: 13px;
  font-weight: normal;
}

#helpCentre_right_container{
    background: #fff;
    overflow: hidden;
}
.helpCentre_right {
  position: relative;
  height: 100%;
}
.helpCentre_display {
  height: 60vh;
  overflow: auto;
  margin-top: 10px;
}
#helpCentre_botMessage {
  background-color: #717171;
  padding: 10px;
  border-radius: 15px;
  text-align: left;
  width: 50%;
}
.helpCentre_senderName {
  font-weight: 600;
}
.helpCentre_time {
  font-size: 12;
}
.helpCentre_textMessage {
  padding: 10px;
  text-align: -webkit-right;
  /* text-align: right; */
}
#helpCentre_userMessage {
  background-color: lightblue;
  padding: 10px;
  border-radius: 15px;
  text-align: left;
  max-width: 50%;
  width: fit-content;
}
.helpCentre_bottomActionBar {
    position: absolute;
    bottom: 15px;
    background: #ffffff;
    width: 100%;
}
#helpCentre_messageBox {
  width: 80%;
  color: black;
  align-content: center;
}
#helpCentre_sendButton {
  width: 100%;
  background-color: #222;
}

@media (min-width: 600px) {
    #helpCentre_container {
        margin-top: -72px;
      }
  .helpCentre_header_logo {
    display: block;
  }
  #helpCentre_header_text {
    display: block;
  }
  #helpCentre_header_button {
    width: 120px;
  }
  #helpCentre_left_heading{
      font-size: 3rem;
      margin-bottom: 52px;
  }
  #helpCentre_left_text {
    margin-top: 32px;
    font-size: 18px;
  }
  #helpCentre_right_container{
    margin-top: 72px
}
  .helpCentre_display {
    margin: 10px;
    height: 80vh;
  }
}
